[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0

[submodule "Islamtharwat/location"]
	path = Islamtharwat/location
	url = git@github.com:Islamtharwat/location.git
	branch = master

[submodule "OCA/website-themes"]
	path = OCA/website-themes
	url = git@github.com:OCA/website-themes.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 12.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 12.0

[submodule "OCA/business-requirement"]
	path = OCA/business-requirement
	url = git@github.com:OCA/business-requirement.git
	branch = 12.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/project0"]
	path = OCA/project0
	url = git@github.com:OCA/project.git
	branch = 12.0

[submodule "OCA/reporting-engine0"]
	path = OCA/reporting-engine0
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "OCA/product-attribute0"]
	path = OCA/product-attribute0
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 12.0

[submodule "OCA/currency"]
	path = OCA/currency
	url = git@github.com:OCA/currency.git
	branch = 12.0

[submodule "OCA/pos"]
	path = OCA/pos
	url = git@github.com:OCA/pos.git
	branch = 12.0

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 12.0

[submodule "OCA/maintenance"]
	path = OCA/maintenance
	url = git@github.com:OCA/maintenance.git
	branch = 12.0

[submodule "OCA/operating-unit"]
	path = OCA/operating-unit
	url = git@github.com:OCA/operating-unit.git
	branch = 12.0

[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 12.0

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 12.0

[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url = git@github.com:OCA/multi-company.git
	branch = 12.0
