[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0

[submodule "Islamtharwat/location"]
	path = Islamtharwat/location
	url = git@github.com:Islamtharwat/location.git
	branch = master

[submodule "OCA/website-themes"]
	path = OCA/website-themes
	url = git@github.com:OCA/website-themes.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/manufacture"]
	path = OCA/manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 12.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 12.0

[submodule "OCA/business-requirement"]
	path = OCA/business-requirement
	url = git@github.com:OCA/business-requirement.git
	branch = 12.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/project0"]
	path = OCA/project0
	url = git@github.com:OCA/project.git
	branch = 12.0

[submodule "OCA/reporting-engine0"]
	path = OCA/reporting-engine0
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "OCA/product-attribute0"]
	path = OCA/product-attribute0
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 12.0
